* {
  box-sizing: border-box;  
}

html {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
  color: black;
  font-size: 12px;
  margin: 0;
  text-align: center;
}


.welcome h3 {
  color: #111111;
  font-size: 30px;
  text-align: center;
}


.welcome img{
  aspect-ratio: 1.7;
  margin-top: 80;
  margin-bottom: 80;
}

.welcome {
  padding-top: 20;
  padding-bottom: 20;
  margin: 0;
	animation-name: color;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes color {
	0% {
		background: #ffa099;
	}
	20% {
		background: #bfedd4;
	}
  40%{
    background: #99dbff;
  }
	60% {
		background: #fdbafc;
	}
	80% {
		background: #ffefcb;
	}
	100% {
		background: #ffacac;
	}
}

header {
  background-color: #bbbbbb;
  font-size: 22px;
  padding: 15;
  overflow: hidden;
}

header h1, header h3 {
  color: #111111;  
  text-align: center;  
}

nav {
  width: 100%;
  padding: 0;
  text-align: center;
  margin: 0%;
}

nav ul {
  list-style-type:none;
  width: 100%;
  padding:5px;
  margin:0;
  text-align: center;
  overflow: hidden;
  background-color: #281c00;
  float: center;
}

nav li {
  float: center;
  margin: 10;
}

nav a {
  display: block;
  color: #ffd900;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border: 5px;
  border-radius: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #684309;
}

.active {
  background-color: #684309;
  color: #ffffff;
  border: 2px;
  border-radius: 30px;
}


article{
  padding: 3%;
}

article p {
  text-align: justify;
  font-size: 18px; 
}

article h3{
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
  margin-top: 3%;
  margin-bottom: 3%;
}

article h1 {
  font-size: 28px;
  color: #333333;
  text-align: center;
  margin-bottom: 2%;  
}

.query {
  display:inline-block;
  border-radius: 20px;
  padding:25px;
  transition: transform 0.8s;
  background-color: #eeeeee;
  margin: 30px;
  text-align: center;
  min-width: 40%;
  max-width:60%;
  vertical-align: middle;
}

.query:hover {
  box-shadow: 0 0 1vw .5vw #888888;
  transform: scale(1.03);
}

.intro {
  display:inline-block;
  border-radius: 20px;
  padding:25px;
  transition: transform 0.8s;
  background-color: #111111;
  color: #eeeeee;
  margin: 30px;
  text-align: center;
  min-width: 40%;
  max-width:60%;
  vertical-align: middle;
  font-weight: bolder;
}

.intro:hover {
  box-shadow: 0 0 1vw .5vw #888888;
  transform: scale(1.03);
}

projects{
  padding: 10px;
}

projects h1 {
  font-size: 34px;
  color: #333333;
  text-align: center;
  padding: 10px;
}

projects img{
  max-width: 600px;
  margin: 10;
}

team{
  padding: 5px;
}

.heading h1 {
  font-size: 34px;
  color: #333333;
  text-align: center;
}

.greeting h1 {
  font-size: 34px;
  color: #333333;
  text-align: center;
  padding: 2%;
}


.center {
  display:inline-block;
  width: 50%;
  transition: transform 0.8s;
}

.center:hover {
  transform: scale(1.07);
}




.overlay {
  border-radius: 1%;
  position: absolute;
  vertical-align: middle;
  padding:1.5vw;
  align-self: middle;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 2s;
  background-color: #0e4200;
}

.image {
  border-radius: 1%;
  vertical-align: middle;
  padding:10px;
  align-self: middle;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.internal-img {
  width: 100%;
  border-radius: 1%;
  margin: 0%;
}

.container {
  display: inline-block;
  margin: 3%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  min-width: 60%;
  max-width: 75%;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: #fffb00;
  position: relative;
  margin: 0%;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.text h5 {
  font-size: 28px;
  vertical-align: top;
}

.text p {
  font-size: 18px;
  vertical-align: baseline;
}





/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222222;
  min-width: 6vw;
  box-shadow: 0px 8px 16px 0px #888888;
  z-index: 1;
  transition: 2s;
  border-radius: 1vw;
  vertical-align: middle;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 1vw;
  text-decoration: none;
  display: block;
  border-radius: 1vw;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #999;}


.member:hover .dropdown-content {display: inline-block; }

.member {
  margin: 5vw;
}

.member-img {
  width: 80%;
  border-radius: 50%;
  aspect-ratio: 1;
  transition: transform 0.8s;
}

.member-img:hover {
  box-shadow: 0 0 1vw .5vw #888888;
  transform: scale(1.03);
}

.members {
  margin: 5vw;
}

.members-img {
  width: 80%;
  border-radius: 50%;
  aspect-ratio: 1;
  transition: transform 0.8s;
}

.members-img:hover {
  box-shadow: 0 0 1vw .5vw #888888;
  transform: scale(1.03);
}

.devclub {
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin: 6%;
  min-width: 50%;  
  }

.devclub h3{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 3%;
}
  


.devclub p {
  font-size: large;
  text-align: left;
  margin-bottom: 5%;
}

.members {
  display: inline-block;
  margin: 3.2%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  max-width: 400;
  vertical-align: middle;
}


.members h5{
  font-size: larger;
}

.members p{
  font-weight: normal;
}

.member {
  display: inline-block;
  margin: 3.2%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  max-width: 400;
  vertical-align: middle;
}


.member h5{
  font-size: larger;
}

.member p{
  font-weight: normal;
}

.gallery {
  margin-left: auto;
	margin-right: auto;
	display: block; 
  border: 1px solid #6c5f5b;
  width: 180px; 
}  

.gallery img {
  width: 100%;
}

.desc {
  padding: 5px;
  font-size: 17px;
  text-align: center;
}    

.internal_activities {
  display: flex;  
}

.external_activities {
  display: flex;  
}

fieldset {
  width: 50%;
}

legend {
  font-size: 16px;  
}

main label {
  font-size: 16px;  
}

footer {
  background-color: #281c00;
  color: #ffb300;
  padding: 15;
  text-align: center;
  font-size: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
}

.navbar {
  margin: 0%;
}

.navbar img {
  margin-left: 3px;
  transition: transform 0.8s;
}

.navbar img:hover {
  transform: scale(1.03);
}

.dropdown-content img {
  margin-left: 3px;
  transition: transform 0.8s;
}

.dropdown-content img:hover {
  transform: scale(1.03);
}

/* Extra small devices (portrait phones, less than 576px)*/

@media screen and (max-width:576px) {
  header {
    font-size: 2.5vw;
  }
  
  nav ul li {
    float: none;
  }
  
  nav li a {
    font-size: 18px;  
  }
  
  .center {
    width: 70%;
  }

  
  .internal_activities {
    display: block;  
  }

  .external_activities {
    display: block;  
  }
  
  textarea {
    width: 98%;  
  }
  
  footer {
    font-size: 18px;  
  }

  .heading h1{
    font-size: 5vw;
  }

  .greeting h1{
    font-size: 7vw;
  }

  .members{
    font-size: 3vw;
    width: 90%;
  }

  .member{
    font-size: 3vw;
    width: 90%;
  }

  article p{
    font-size: 3vw;
  }

  article h4{
    font-size: 3.5vw;
  }

  .devclub p{
    font-size: 3vw;
  }

  .devclub h3{
    font-size: 4.3vw;
  }

  .devclub h4{
    font-size: 3.5vw;
  }

  .query{
    min-width:60vw;
    margin:5vw;
    padding:5vw;
  }

  .intro h3{
    font-size: 4vw;
  }
  
  .intro{
    min-width:60vw;
    margin:5vw;
    padding:5vw;
  }
  
  .container{
    min-width:60%;
    max-width: 75%;
  }


  .text h5 {
    font-size: 4.5vw;
    vertical-align: top;
  }
  
  .text p {
    font-size: 3vw;
    vertical-align: baseline;
  }

  .image{
    padding: 1vw;
  }

  .overlay{
    padding:1vw;
  }

  .navbar{
    font-size: 3vw;
  }

  .navbar img{
    margin-left: 0.5vw;
    width: 8vw;
    height:8vw;
  }

  .dropdown-content{
    font-size: 3vw;
  }

  .dropdown-content img{
    margin-left: 0.5vw;
    width: 8vw;
    height:8vw;
  }
}

/* Small devices (landscape phones, 576px and up)*/

@media screen and (min-width:576px) {
  header {
    font-size: 12px;
  }
  
  nav ul li {
    float: none;
  }
  
  nav li a {
    font-size: 18px;  
  }
  
  footer {
    font-size: 18px;  
  }


}

/* Medium devices (tablets, 768px and up)*/

@media screen and (min-width:768px) {
  header {
    font-size: 16px;
  }
  
  nav ul li {
    float: none;
  }  
}

/* Large devices (desktops, 992px and up)*/

@media screen and (min-width:992px) {
  header {
    font-size: 20px;
  }
  
  nav ul li {
    float: left;
  }   
}

